@font-face {
    font-family: ORBIT-Icons;
    src: url("/reporting/orbitui/resources/ORBIT-Icons/fonts/ORBIT-Icons-6c5ce084cd2ad7e49e698a3db0863e2d.eot?5ctxyp#iefix") format("embedded-opentype"), url("/reporting/orbitui/resources/ORBIT-Icons/fonts/ORBIT-Icons-28e0c7d2f36933c8c1db763e936d13cd.ttf?5ctxyp") format("truetype"), url("/reporting/orbitui/resources/ORBIT-Icons/fonts/ORBIT-Icons-93dc1681213e12584a2284d5bde28d65.woff?5ctxyp") format("woff"), url("/reporting/orbitui/resources/ORBIT-Icons/fonts/ORBIT-Icons-9168305cadc04608fedfafec91667036.svg?5ctxyp#ORBIT-Icons") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="orb-"],
[class*=" orb-"] {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family: ORBIT-Icons !important;
}

.orb-pipelines::before {
    content: "" !important;
}

.orb-sources::before {
    content: "" !important;
}

.orb-destinations::before {
    content: "" !important;
}

.orb-elt::before {
    content: "" !important;
}

.orb-oracle-o::before {
    content: "" !important;
}

.orb-folder-plus::before {
    content: "" !important;
}

.orb-add-shortcut-outline::before {
    content: "" !important;
}

.orb-folder-move::before {
    content: "" !important;
}

.orb-folder-shared::before {
    content: "" !important;
}

.orb-folder-shared-shortcut::before {
    content: "" !important;
}

.orb-folder-shared-shortcut-new .path1::before {
    color: rgb(0, 0, 0);
    content: "" !important;
}

.orb-folder-shared-shortcut-new .path2::before {
    margin-left: -1em;
    color: rgb(255, 255, 255);
    content: "" !important;
}

.orb-folder-shared-shortcut-new .path3::before {
    margin-left: -1em;
    color: rgb(255, 255, 255);
    content: "" !important;
}

.orb-folder-shortcut-new::before {
    content: "" !important;
}

.orb-folder-shortcut::before {
    content: "" !important;
}

.orb-add-shortcut::before {
    content: "" !important;
}

.orb-report-shared::before {
    content: "" !important;
}

.orb-shared-with-me::before {
    content: "" !important;
}

.orb-folder-shared-open::before {
    content: "" !important;
}

.orb-report-preferences::before {
    content: "" !important;
}

.orb-group-filters::before {
    content: "" !important;
}

.orb-lock-new::before {
    content: "" !important;
}

.orb-sftp-new::before {
    content: "" !important;
}

.orb-unlock-new::before {
    content: "" !important;
}

.orb-XML-2::before {
    content: "" !important;
}

.orb-json-2::before {
    content: "" !important;
}

.orb-fileupload1::before {
    content: "" !important;
}

.orb-process-build::before {
    content: "" !important;
}

.orb-exce-1::before {
    content: "" !important;
}

.orb-excel-2::before {
    content: "" !important;
}

.orb-excel-3::before {
    content: "" !important;
}

.orb-collapse-all::before {
    content: "" !important;
}

.orb-expand-all::before {
    content: "" !important;
}

.orb-quick-filter::before {
    content: "" !important;
}

.orb-quick-filter-default::before {
    content: "" !important;
}

.orb-info-icon::before {
    content: "" !important;
}

.orb-icon-measure-filter::before {
    content: "" !important;
}

.orb-icon-dimension-filter::before {
    content: "" !important;
}

.orb-analytics::before {
    content: "" !important;
}

.orb-card-min::before {
    content: "" !important;
}

.orb-hierarchy-drilldown::before {
    content: "" !important;
}

.orb-grouping::before {
    content: "" !important;
}

.orb-Concatenation::before {
    content: "" !important;
}

.orb-external-plugins::before {
    content: "" !important;
}

.orb-system-settings::before {
    content: "" !important;
}

.orb-bar-chart-2::before {
    content: "" !important;
}

.orb-bar-chart1::before {
    content: "" !important;
}

.orb-menu-icon-2::before {
    content: "" !important;
}

.orb-audio::before {
    content: "" !important;
}

.orb-icon-sankey::before {
    content: "" !important;
}

.orb-filter-21::before {
    content: "" !important;
}

.orb-change-dimensions-2::before {
    content: "" !important;
}

.orb-card-expand::before {
    content: "" !important;
}

.orb-change-visualization::before {
    content: "" !important;
}

.orb-change-dimensions::before {
    content: "" !important;
}

.orb-drilldown-arrow-down::before {
    content: "" !important;
}

.orb-drilldown-double-arrow-up::before {
    content: "" !important;
}

.orb-drilldown-group-arrow-down::before {
    content: "" !important;
}

.orb-drilldown-arrow-up::before {
    content: "" !important;
}

.orb-drilldown-double-arrow-down::before {
    content: "" !important;
}

.orb-Orbie::before {
    content: "" !important;
}

.orb-label-dash-1::before {
    content: "" !important;
}

.orb-label-dash-close::before {
    content: "" !important;
}

.orb-label-dash-2::before {
    content: "" !important;
}

.orb-label-angle-h::before {
    content: "" !important;
}

.orb-label-angle-r::before {
    content: "" !important;
}

.orb-label-angle-l::before {
    content: "" !important;
}

.orb-label-angle-s::before {
    content: "" !important;
}

.orb-auto::before {
    content: "" !important;
}

.orb-menu-dots-2::before {
    content: "" !important;
}

.orb-x-axis-bottom1::before {
    content: "" !important;
}

.orb-x-axis-top1::before {
    content: "" !important;
}

.orb-reset-color::before {
    content: "" !important;
}

.orb-icon-gauge-solid::before {
    content: "" !important;
}

.orb-x-axis-center::before {
    content: "" !important;
}

.orb-x-axis-top::before {
    content: "" !important;
}

.orb-x-axis-bottom::before {
    content: "" !important;
}

.orb-y-axis-left::before {
    content: "" !important;
}

.orb-y-axis-right::before {
    content: "" !important;
}

.orb-icon-row-three::before {
    content: "" !important;
}

.orb-icon-row-two::before {
    content: "" !important;
}

.orb-icon-row-one::before {
    content: "" !important;
}

.orb-icon-value-pair::before {
    content: "" !important;
}

.orb-icon-scatter-3d::before {
    content: "" !important;
}

.orb-icon-i-frame::before {
    content: "" !important;
}

.orb-icon-filter-range::before {
    content: "" !important;
}

.orb-icon-solid-gauge1::before {
    content: "" !important;
}

.orb-icon-filter-date::before {
    content: "" !important;
}

.orb-icon-filter-combo::before {
    content: "" !important;
}

.orb-icon-word-cloud::before {
    content: "" !important;
}

.orb-icon-filter-tree::before {
    content: "" !important;
}

.orb-icon-image::before {
    content: "" !important;
}

.orb-icon-filter-list::before {
    content: "" !important;
}

.orb-icon-packed-bubble::before {
    content: "" !important;
}

.orb-manage-color::before {
    content: "" !important;
}

.orb-icon-text::before {
    content: "" !important;
}

.orb-icon-html-template::before {
    content: "" !important;
}

.orb-border-right-2::before {
    content: "" !important;
}

.orb-border-left-2::before {
    content: "" !important;
}

.orb-border-right-1::before {
    content: "" !important;
}

.orb-border-left-1::before {
    content: "" !important;
}

.orb-border-right-0::before {
    content: "" !important;
}

.orb-border-left-0::before {
    content: "" !important;
}

.orb-border-left::before {
    content: "" !important;
}

.orb-progressive-type::before {
    content: "" !important;
}

.orb-bar-column::before {
    content: "" !important;
}

.orb-bar-column-staked::before {
    content: "" !important;
}

.orb-bar-column-staked-percentage-h::before {
    content: "" !important;
}

.orb-bar-column-clustered::before {
    content: "" !important;
}

.orb-bar-column-staked-h::before {
    content: "" !important;
}

.orb-bar-column-staked-percentage::before {
    content: "" !important;
}

.orb-pie-type::before {
    content: "" !important;
}

.orb-donut-type::before {
    content: "" !important;
}

.orb-polar-type::before {
    content: "" !important;
}

.orb-line-type::before {
    content: "" !important;
}

.orb-mini-type-bar::before {
    content: "" !important;
}

.orb-mini-type-tristate::before {
    content: "" !important;
}

.orb-char-scatter-bubble::before {
    content: "" !important;
}

.orb-char-scatter::before {
    content: "" !important;
}

.orb-crt-op-line-border-1::before {
    content: "" !important;
}

.orb-crt-op-line-border-2::before {
    content: "" !important;
}

.orb-crt-op-line-border-3::before {
    content: "" !important;
}

.orb-crt-op-line-border-4::before {
    content: "" !important;
}

.orb-crt-op-line-border-5::before {
    content: "" !important;
}

.orb-crt-op-line-border-6::before {
    content: "" !important;
}

.orb-crt-op-line-border-7::before {
    content: "" !important;
}

.orb-crt-op-line-border-8::before {
    content: "" !important;
}

.orb-crt-op-line-type-stp .path1::before {
    color: rgb(173, 173, 173);
    content: "" !important;
}

.orb-crt-op-line-type-stp .path2::before {
    margin-left: -1em;
    color: rgb(62, 61, 61);
    content: "" !important;
}

.orb-crt-op-linearea .path1::before {
    color: rgb(151, 151, 151);
    content: "" !important;
}

.orb-crt-op-linearea .path2::before {
    margin-left: -1em;
    color: rgb(51, 51, 51);
    content: "" !important;
}

.orb-crt-op-linearea-dots .path1::before {
    color: rgb(151, 151, 151);
    content: "" !important;
}

.orb-crt-op-linearea-dots .path2::before {
    margin-left: -1em;
    color: rgb(51, 51, 51);
    content: "" !important;
}

.orb-crt-op-linearea-dots .path3::before {
    margin-left: -1em;
    color: rgb(51, 51, 51);
    content: "" !important;
}

.orb-crt-op-linearea-dots .path4::before {
    margin-left: -1em;
    color: rgb(51, 51, 51);
    content: "" !important;
}

.orb-crt-op-linearea-dots .path5::before {
    margin-left: -1em;
    color: rgb(51, 51, 51);
    content: "" !important;
}

.orb-crt-op-linearea-dots .path6::before {
    margin-left: -1em;
    color: rgb(51, 51, 51);
    content: "" !important;
}

.orb-crt-op-linearea-dots .path7::before {
    margin-left: -1em;
    color: rgb(51, 51, 51);
    content: "" !important;
}

.orb-crt-op-linearea-dots .path8::before {
    margin-left: -1em;
    color: rgb(51, 51, 51);
    content: "" !important;
}

.orb-crt-op-dots::before {
    content: "" !important;
}

.orb-line-type-cv .path1::before {
    color: rgb(173, 173, 173);
    content: "" !important;
}

.orb-line-type-cv .path2::before {
    margin-left: -1em;
    color: rgb(51, 51, 51);
    content: "" !important;
}

.orb-crt-op-line-type-st::before {
    content: "" !important;
}

.orb-linedots::before {
    content: "" !important;
}

.orb-crt-op-line-dots::before {
    content: "" !important;
}

.orb-crt-op-line::before {
    content: "" !important;
}

.orb-widget-sidebar::before {
    content: "" !important;
}

.orb-sidebar-one::before {
    content: "" !important;
}

.orb-finance-cube::before {
    content: "" !important;
}

.orb-adapternode::before {
    content: "" !important;
}

.orb-aggregation_1::before {
    content: "" !important;
}

.orb-finance-report-2::before {
    content: "" !important;
}

.orb-finance-report::before {
    content: "" !important;
}

.orb-cube::before {
    content: "" !important;
}

.orb-report_1::before {
    content: "" !important;
}

.orb-split::before {
    content: "" !important;
}

.orb-filter-2::before {
    content: "" !important;
}

.orb-table1::before {
    content: "" !important;
}

.orb-inline-SQL::before {
    content: "" !important;
}

.orb-webservices1::before {
    content: "" !important;
}

.orb-databse-table::before {
    content: "" !important;
}

.orb-file-import_1::before {
    content: "" !important;
}

.orb-merge::before {
    content: "" !important;
}

.orb-x::before {
    content: "x" !important;
}

.orb-alert-octagon::before {
    content: "" !important;
}

.orb-alert-circle::before {
    content: "" !important;
}

.orb-activity::before {
    content: "" !important;
}

.orb-alert-triangle::before {
    content: "" !important;
}

.orb-align-center::before {
    content: "" !important;
}

.orb-airplay::before {
    content: "" !important;
}

.orb-align-justify1::before {
    content: "" !important;
}

.orb-align-left1::before {
    content: "" !important;
}

.orb-align-right1::before {
    content: "" !important;
}

.orb-arrow-down-left::before {
    content: "" !important;
}

.orb-arrow-down-right::before {
    content: "" !important;
}

.orb-anchor::before {
    content: "" !important;
}

.orb-aperture::before {
    content: "" !important;
}

.orb-arrow-left1::before {
    content: "" !important;
}

.orb-arrow-right1::before {
    content: "" !important;
}

.orb-arrow-down1::before {
    content: "" !important;
}

.orb-arrow-up-left::before {
    content: "" !important;
}

.orb-arrow-up-right::before {
    content: "" !important;
}

.orb-arrow-up1::before {
    content: "" !important;
}

.orb-award::before {
    content: "" !important;
}

.orb-bar-chart::before {
    content: "" !important;
}

.orb-at-sign::before {
    content: "" !important;
}

.orb-bar-chart-::before {
    content: "" !important;
}

.orb-battery-charging::before {
    content: "" !important;
}

.orb-bell-off::before {
    content: "" !important;
}

.orb-battery::before {
    content: "" !important;
}

.orb-bluetooth::before {
    content: "" !important;
}

.orb-bell1::before {
    content: "" !important;
}

.orb-book1::before {
    content: "" !important;
}

.orb-briefcase1::before {
    content: "" !important;
}

.orb-camera-off::before {
    content: "" !important;
}

.orb-calendar1::before {
    content: "" !important;
}

.orb-bookmark1::before {
    content: "" !important;
}

.orb-box::before {
    content: "" !important;
}

.orb-camera::before {
    content: "" !important;
}

.orb-check-circle::before {
    content: "" !important;
}

.orb-check1::before {
    content: "" !important;
}

.orb-check-square::before {
    content: "" !important;
}

.orb-cast::before {
    content: "" !important;
}

.orb-chevron-down1::before {
    content: "" !important;
}

.orb-chevron-left1::before {
    content: "" !important;
}

.orb-chevron-right1::before {
    content: "" !important;
}

.orb-chevron-up1::before {
    content: "" !important;
}

.orb-chevrons-down::before {
    content: "" !important;
}

.orb-chevrons-right::before {
    content: "" !important;
}

.orb-chevrons-up::before {
    content: "" !important;
}

.orb-chevrons-left::before {
    content: "" !important;
}

.orb-circle1::before {
    content: "" !important;
}

.orb-clipboard::before {
    content: "" !important;
}

.orb-chrome::before {
    content: "" !important;
}

.orb-clock::before {
    content: "" !important;
}

.orb-cloud-lightning::before {
    content: "" !important;
}

.orb-cloud-drizzle::before {
    content: "" !important;
}

.orb-cloud-rain::before {
    content: "" !important;
}

.orb-cloud-off::before {
    content: "" !important;
}

.orb-codepen1::before {
    content: "" !important;
}

.orb-cloud-snow::before {
    content: "" !important;
}

.orb-compass::before {
    content: "" !important;
}

.orb-copy::before {
    content: "" !important;
}

.orb-corner-down-right::before {
    content: "" !important;
}

.orb-corner-down-left::before {
    content: "" !important;
}

.orb-corner-left-down::before {
    content: "" !important;
}

.orb-corner-left-up::before {
    content: "" !important;
}

.orb-corner-up-left::before {
    content: "" !important;
}

.orb-corner-up-right::before {
    content: "" !important;
}

.orb-corner-right-down::before {
    content: "" !important;
}

.orb-corner-right-up::before {
    content: "" !important;
}

.orb-cpu::before {
    content: "" !important;
}

.orb-credit-card::before {
    content: "" !important;
}

.orb-crosshair::before {
    content: "" !important;
}

.orb-disc::before {
    content: "" !important;
}

.orb-delete1::before {
    content: "" !important;
}

.orb-download-cloud::before {
    content: "" !important;
}

.orb-download1::before {
    content: "" !important;
}

.orb-droplet::before {
    content: "" !important;
}

.orb-edit-::before {
    content: "" !important;
}

.orb-edit1::before {
    content: "" !important;
}

.orb-edit-1::before {
    content: "" !important;
}

.orb-external-link::before {
    content: "" !important;
}

.orb-eye::before {
    content: "" !important;
}

.orb-feather::before {
    content: "" !important;
}

.orb-facebook::before {
    content: "" !important;
}

.orb-file-minus::before {
    content: "" !important;
}

.orb-eye-off::before {
    content: "" !important;
}

.orb-fast-forward::before {
    content: "" !important;
}

.orb-file-text::before {
    content: "" !important;
}

.orb-film::before {
    content: "" !important;
}

.orb-file1::before {
    content: "" !important;
}

.orb-file-plus::before {
    content: "" !important;
}

.orb-folder1::before {
    content: "" !important;
}

.orb-filter1::before {
    content: "" !important;
}

.orb-flag::before {
    content: "" !important;
}

.orb-globe::before {
    content: "" !important;
}

.orb-grid::before {
    content: "" !important;
}

.orb-heart::before {
    content: "" !important;
}

.orb-home1::before {
    content: "" !important;
}

.orb-github::before {
    content: "" !important;
}

.orb-image::before {
    content: "" !important;
}

.orb-inbox::before {
    content: "" !important;
}

.orb-layers::before {
    content: "" !important;
}

.orb-info::before {
    content: "" !important;
}

.orb-instagram::before {
    content: "" !important;
}

.orb-layout::before {
    content: "" !important;
}

.orb-link-::before {
    content: "" !important;
}

.orb-life-buoy::before {
    content: "" !important;
}

.orb-link1::before {
    content: "" !important;
}

.orb-log-in::before {
    content: "" !important;
}

.orb-list1::before {
    content: "" !important;
}

.orb-lock1::before {
    content: "" !important;
}

.orb-log-out::before {
    content: "" !important;
}

.orb-loader::before {
    content: "" !important;
}

.orb-mail::before {
    content: "" !important;
}

.orb-maximize-::before {
    content: "" !important;
}

.orb-map::before {
    content: "" !important;
}

.orb-map-pin::before {
    content: "" !important;
}

.orb-menu::before {
    content: "" !important;
}

.orb-message-circle::before {
    content: "" !important;
}

.orb-message-square::before {
    content: "" !important;
}

.orb-minimize-::before {
    content: "" !important;
}

.orb-mic-off::before {
    content: "" !important;
}

.orb-minus-circle::before {
    content: "" !important;
}

.orb-mic::before {
    content: "" !important;
}

.orb-minus-square::before {
    content: "" !important;
}

.orb-minus::before {
    content: "" !important;
}

.orb-moon::before {
    content: "" !important;
}

.orb-monitor::before {
    content: "" !important;
}

.orb-more-vertical::before {
    content: "" !important;
}

.orb-more-horizontal::before {
    content: "" !important;
}

.orb-move::before {
    content: "" !important;
}

.orb-music::before {
    content: "" !important;
}

.orb-navigation-::before {
    content: "" !important;
}

.orb-navigation::before {
    content: "" !important;
}

.orb-octagon::before {
    content: "" !important;
}

.orb-package::before {
    content: "" !important;
}

.orb-pause-circle::before {
    content: "" !important;
}

.orb-pause1::before {
    content: "" !important;
}

.orb-percent::before {
    content: "" !important;
}

.orb-phone-call::before {
    content: "" !important;
}

.orb-phone-forwarded::before {
    content: "" !important;
}

.orb-phone-missed::before {
    content: "" !important;
}

.orb-phone-off::before {
    content: "" !important;
}

.orb-phone-incoming::before {
    content: "" !important;
}

.orb-phone::before {
    content: "" !important;
}

.orb-phone-outgoing::before {
    content: "" !important;
}

.orb-pie-chart::before {
    content: "" !important;
}

.orb-play-circle::before {
    content: "" !important;
}

.orb-play::before {
    content: "" !important;
}

.orb-plus-square1::before {
    content: "" !important;
}

.orb-plus-circle::before {
    content: "" !important;
}

.orb-plus::before {
    content: "" !important;
}

.orb-pocket::before {
    content: "" !important;
}

.orb-printer::before {
    content: "" !important;
}

.orb-power::before {
    content: "" !important;
}

.orb-radio::before {
    content: "" !important;
}

.orb-repeat::before {
    content: "" !important;
}

.orb-refresh-ccw::before {
    content: "" !important;
}

.orb-rewind::before {
    content: "" !important;
}

.orb-rotate-ccw::before {
    content: "" !important;
}

.orb-refresh-cw::before {
    content: "" !important;
}

.orb-rotate-cw::before {
    content: "" !important;
}

.orb-save1::before {
    content: "" !important;
}

.orb-search1::before {
    content: "" !important;
}

.orb-server1::before {
    content: "" !important;
}

.orb-scissors::before {
    content: "" !important;
}

.orb-share-::before {
    content: "" !important;
}

.orb-share::before {
    content: "" !important;
}

.orb-shield::before {
    content: "" !important;
}

.orb-settings1::before {
    content: "" !important;
}

.orb-skip-back::before {
    content: "" !important;
}

.orb-shuffle::before {
    content: "" !important;
}

.orb-sidebar::before {
    content: "" !important;
}

.orb-skip-forward::before {
    content: "" !important;
}

.orb-slack1::before {
    content: "" !important;
}

.orb-slash::before {
    content: "" !important;
}

.orb-smartphone::before {
    content: "" !important;
}

.orb-square::before {
    content: "" !important;
}

.orb-speaker::before {
    content: "" !important;
}

.orb-star::before {
    content: "" !important;
}

.orb-stop-circle::before {
    content: "" !important;
}

.orb-sun::before {
    content: "" !important;
}

.orb-sunrise::before {
    content: "" !important;
}

.orb-tablet::before {
    content: "" !important;
}

.orb-tag::before {
    content: "" !important;
}

.orb-sunset::before {
    content: "" !important;
}

.orb-target::before {
    content: "" !important;
}

.orb-thermometer::before {
    content: "" !important;
}

.orb-thumbs-up::before {
    content: "" !important;
}

.orb-thumbs-down::before {
    content: "" !important;
}

.orb-toggle-left::before {
    content: "" !important;
}

.orb-toggle-right::before {
    content: "" !important;
}

.orb-trash-::before {
    content: "" !important;
}

.orb-trash::before {
    content: "" !important;
}

.orb-trending-up::before {
    content: "" !important;
}

.orb-trending-down::before {
    content: "" !important;
}

.orb-triangle::before {
    content: "" !important;
}

.orb-type::before {
    content: "" !important;
}

.orb-twitter::before {
    content: "" !important;
}

.orb-upload1::before {
    content: "" !important;
}

.orb-umbrella::before {
    content: "" !important;
}

.orb-upload-cloud::before {
    content: "" !important;
}

.orb-unlock1::before {
    content: "" !important;
}

.orb-user-check::before {
    content: "" !important;
}

.orb-user-minus::before {
    content: "" !important;
}

.orb-user-plus1::before {
    content: "" !important;
}

.orb-user-x::before {
    content: "" !important;
}

.orb-user::before {
    content: "" !important;
}

.orb-users1::before {
    content: "" !important;
}

.orb-video-off::before {
    content: "" !important;
}

.orb-video::before {
    content: "" !important;
}

.orb-voicemail::before {
    content: "" !important;
}

.orb-volume-x::before {
    content: "" !important;
}

.orb-volume-::before {
    content: "" !important;
}

.orb-volume-1::before {
    content: "" !important;
}

.orb-volume::before {
    content: "" !important;
}

.orb-watch::before {
    content: "" !important;
}

.orb-wifi::before {
    content: "" !important;
}

.orb-x-square::before {
    content: "" !important;
}

.orb-wind::before {
    content: "" !important;
}

.orb-x1::before {
    content: "" !important;
}

.orb-x-circle::before {
    content: "" !important;
}

.orb-zap::before {
    content: "" !important;
}

.orb-zoom-in::before {
    content: "" !important;
}

.orb-zoom-out::before {
    content: "" !important;
}

.orb-command::before {
    content: "" !important;
}

.orb-cloud::before {
    content: "" !important;
}

.orb-hash::before {
    content: "" !important;
}

.orb-headphones::before {
    content: "" !important;
}

.orb-underline::before {
    content: "" !important;
}

.orb-italic::before {
    content: "" !important;
}

.orb-bold::before {
    content: "" !important;
}

.orb-crop::before {
    content: "" !important;
}

.orb-help-circle::before {
    content: "" !important;
}

.orb-paperclip::before {
    content: "" !important;
}

.orb-shopping-cart::before {
    content: "" !important;
}

.orb-tv::before {
    content: "" !important;
}

.orb-wifi-off::before {
    content: "" !important;
}

.orb-minimize1::before {
    content: "" !important;
}

.orb-maximize::before {
    content: "" !important;
}

.orb-gitlab::before {
    content: "" !important;
}

.orb-sliders::before {
    content: "" !important;
}

.orb-star-on::before {
    content: "" !important;
}

.orb-heart-on::before {
    content: "" !important;
}

.orb-upload-line-2::before {
    content: "" !important;
}

.orb-download-line-2::before {
    content: "" !important;
}

.orb-node-line::before {
    content: "" !important;
}

.orb-menu-line::before {
    content: "" !important;
}

.orb-new-file-line::before {
    content: "" !important;
}

.orb-dots-menu::before {
    content: "" !important;
}

.orb-play-line::before {
    content: "" !important;
}

.orb-delete-line::before {
    content: "" !important;
}

.orb-plus-line::before {
    content: "" !important;
}

.orb-refresh-line::before {
    content: "" !important;
}

.orb-lock-line::before {
    content: "" !important;
}

.orb-round-plus-line::before {
    color: rgb(67, 72, 77);
    content: "" !important;
}

.orb-upload-line::before {
    content: "" !important;
}

.orb-download-line::before {
    content: "" !important;
}

.orb-user-profile-line::before {
    content: "" !important;
}

.orb-search-line::before {
    color: rgb(67, 72, 77);
    content: "" !important;
}

.orb-user-line::before {
    color: rgb(67, 72, 77);
    content: "" !important;
}

.orb-dataset-line::before {
    content: "" !important;
}

.orb-thread-line::before {
    content: "" !important;
}

.orb-x-tool-refresh-line::before {
    color: rgb(67, 72, 77);
    content: "" !important;
}

.orb-fa-home-line::before {
    content: "" !important;
}

.orb-custom-widget::before {
    content: "" !important;
}

.orb-email-line::before {
    content: "" !important;
}

.orb-delivery::before {
    content: "" !important;
}

.orb-maxmize::before {
    content: "" !important;
}

.orb-minimize::before {
    content: "" !important;
}

.orb-filter-w::before {
    content: "" !important;
}

.orb-Image-w::before {
    content: "" !important;
}

.orb-text-w::before {
    content: "" !important;
}

.orb-json .path1::before {
    color: rgb(0, 0, 0);
    content: "" !important;
}

.orb-json .path2::before {
    margin-left: -0.923828em;
    color: rgb(255, 255, 255);
    content: "" !important;
}

.orb-json .path3::before {
    margin-left: -0.923828em;
    color: rgb(0, 0, 0);
    content: "" !important;
}

.orb-collaboration-2::before {
    content: "" !important;
}

.orb-thread::before {
    content: "" !important;
}

.orb-snapshot::before {
    content: "" !important;
}

.orb-collaboration::before {
    content: "" !important;
}

.orb-menu-dots::before {
    content: "" !important;
}

.orb-execute-block::before {
    content: "" !important;
}

.orb-create-report-line::before {
    content: "" !important;
}

.orb-settings-line::before {
    content: "" !important;
}

.orb-db-table .path1::before {
    color: rgb(0, 0, 0);
    content: "" !important;
}

.orb-db-table .path2::before {
    margin-left: -1em;
    color: rgb(255, 255, 255);
    content: "" !important;
}

.orb-db-table .path3::before {
    margin-left: -1em;
    color: rgb(255, 255, 255);
    content: "" !important;
}

.orb-schedule-line::before {
    content: "" !important;
}

.orb-query::before {
    content: "" !important;
}

.orb-webservices::before {
    content: "" !important;
}

.orb-sql-qurry::before {
    content: "" !important;
}

.orb-job::before {
    content: "" !important;
}

.orb-custom-report::before {
    content: "" !important;
}

.orb-uniE600::before {
    content: "" !important;
}

.orb-uniE601::before {
    content: "" !important;
}

.orb-uniE602::before {
    content: "" !important;
}

.orb-uniE603::before {
    content: "" !important;
}

.orb-uniE604::before {
    content: "" !important;
}

.orb-uniE605::before {
    content: "" !important;
}

.orb-uniE606::before {
    content: "" !important;
}

.orb-uniE607::before {
    content: "" !important;
}

.orb-uniE608::before {
    content: "" !important;
}

.orb-uniE609::before {
    content: "" !important;
}

.orb-uniE60A::before {
    content: "" !important;
}

.orb-uniE60B::before {
    content: "" !important;
}

.orb-uniE60C::before {
    content: "" !important;
}

.orb-uniE60D::before {
    content: "" !important;
}

.orb-uniE60E::before {
    content: "" !important;
}

.orb-uniE60F::before {
    content: "" !important;
}

.orb-uniE610::before {
    content: "" !important;
}

.orb-uniE611::before {
    content: "" !important;
}

.orb-uniE612::before {
    content: "" !important;
}

.orb-uniE613::before {
    content: "" !important;
}

.orb-uniE614::before {
    content: "" !important;
}

.orb-uniE615::before {
    content: "" !important;
}

.orb-uniE616::before {
    content: "" !important;
}

.orb-uniE617::before {
    content: "" !important;
}

.orb-uniE618::before {
    content: "" !important;
}

.orb-uniE619::before {
    content: "" !important;
}

.orb-uniE61A::before {
    content: "" !important;
}

.orb-uniE61B::before {
    content: "" !important;
}

.orb-uniE61C::before {
    content: "" !important;
}

.orb-uniE61D::before {
    content: "" !important;
}

.orb-uniE61E::before {
    content: "" !important;
}

.orb-uniE61F::before {
    content: "" !important;
}

.orb-uniE620::before {
    content: "" !important;
}

.orb-uniE621::before {
    content: "" !important;
}

.orb-uniE622::before {
    content: "" !important;
}

.orb-uniE623::before {
    content: "" !important;
}

.orb-uniE624::before {
    content: "" !important;
}

.orb-uniE625::before {
    content: "" !important;
}

.orb-uniE626::before {
    content: "" !important;
}

.orb-uniE627::before {
    content: "" !important;
}

.orb-uniE628::before {
    content: "" !important;
}

.orb-uniE629::before {
    content: "" !important;
}

.orb-uniE62A::before {
    content: "" !important;
}

.orb-uniE62B::before {
    content: "" !important;
}

.orb-uniE62C::before {
    content: "" !important;
}

.orb-uniE62D::before {
    content: "" !important;
}

.orb-uniE62E::before {
    content: "" !important;
}

.orb-uniE62F::before {
    content: "" !important;
}

.orb-uniE630::before {
    content: "" !important;
}

.orb-uniE631::before {
    content: "" !important;
}

.orb-uniE632::before {
    content: "" !important;
}

.orb-uniE633::before {
    content: "" !important;
}

.orb-uniE634::before {
    content: "" !important;
}

.orb-uniE635::before {
    content: "" !important;
}

.orb-uniE636::before {
    content: "" !important;
}

.orb-uniE637::before {
    content: "" !important;
}

.orb-uniE638::before {
    content: "" !important;
}

.orb-uniE639::before {
    content: "" !important;
}

.orb-uniE63A::before {
    content: "" !important;
}

.orb-uniE63B::before {
    content: "" !important;
}

.orb-uniE63C::before {
    content: "" !important;
}

.orb-uniE63D::before {
    content: "" !important;
}

.orb-uniE63E::before {
    content: "" !important;
}

.orb-uniE63F::before {
    content: "" !important;
}

.orb-uniE640::before {
    content: "" !important;
}

.orb-uniE641::before {
    content: "" !important;
}

.orb-uniE642::before {
    content: "" !important;
}

.orb-uniE643::before {
    content: "" !important;
}

.orb-uniE644::before {
    content: "" !important;
}

.orb-uniE645::before {
    content: "" !important;
}

.orb-uniE646::before {
    content: "" !important;
}

.orb-uniE647::before {
    content: "" !important;
}

.orb-uniE648::before {
    content: "" !important;
}

.orb-uniE649::before {
    content: "" !important;
}

.orb-uniE64A::before {
    content: "" !important;
}

.orb-uniE64B::before {
    content: "" !important;
}

.orb-uniE64C::before {
    content: "" !important;
}

.orb-uniE64D::before {
    content: "" !important;
}

.orb-uniE64E::before {
    content: "" !important;
}

.orb-uniE64F::before {
    content: "" !important;
}

.orb-uniE650::before {
    content: "" !important;
}

.orb-uniE651::before {
    content: "" !important;
}

.orb-uniE652::before {
    content: "" !important;
}

.orb-uniE653::before {
    content: "" !important;
}

.orb-uniE654::before {
    content: "" !important;
}

.orb-uniE655::before {
    content: "" !important;
}

.orb-uniE656::before {
    content: "" !important;
}

.orb-uniE657::before {
    content: "" !important;
}

.orb-uniE658::before {
    content: "" !important;
}

.orb-uniE659::before {
    content: "" !important;
}

.orb-uniE65A::before {
    content: "" !important;
}

.orb-uniE65B::before {
    content: "" !important;
}

.orb-uniE65C::before {
    content: "" !important;
}

.orb-uniE65D::before {
    content: "" !important;
}

.orb-uniE65E::before {
    content: "" !important;
}

.orb-uniE65F::before {
    content: "" !important;
}

.orb-uniE660::before {
    content: "" !important;
}

.orb-uniE661::before {
    content: "" !important;
}

.orb-uniE662::before {
    content: "" !important;
}

.orb-uniE663::before {
    content: "" !important;
}

.orb-uniE664::before {
    content: "" !important;
}

.orb-uniE665::before {
    content: "" !important;
}

.orb-uniE666::before {
    content: "" !important;
}

.orb-uniE667::before {
    content: "" !important;
}

.orb-uniE668::before {
    content: "" !important;
}

.orb-uniE669::before {
    content: "" !important;
}

.orb-uniE66A::before {
    content: "" !important;
}

.orb-uniE66B::before {
    content: "" !important;
}

.orb-uniE66C::before {
    content: "" !important;
}

.orb-uniE66D::before {
    content: "" !important;
}

.orb-uniE66E::before {
    content: "" !important;
}

.orb-uniE66F::before {
    content: "" !important;
}

.orb-uniE670::before {
    content: "" !important;
}

.orb-uniE671::before {
    content: "" !important;
}

.orb-uniE672::before {
    content: "" !important;
}

.orb-uniE673::before {
    content: "" !important;
}

.orb-uniE674::before {
    content: "" !important;
}

.orb-uniE675::before {
    content: "" !important;
}

.orb-uniE676::before {
    content: "" !important;
}

.orb-uniE677::before {
    content: "" !important;
}

.orb-uniE678::before {
    content: "" !important;
}

.orb-uniE679::before {
    content: "" !important;
}

.orb-uniE67A::before {
    content: "" !important;
}

.orb-uniE67B::before {
    content: "" !important;
}

.orb-uniE67C::before {
    content: "" !important;
}

.orb-uniE67D::before {
    content: "" !important;
}

.orb-uniE67E::before {
    content: "" !important;
}

.orb-uniE67F::before {
    content: "" !important;
}

.orb-uniE680::before {
    content: "" !important;
}

.orb-uniE681::before {
    content: "" !important;
}

.orb-uniE682::before {
    content: "" !important;
}

.orb-uniE683::before {
    content: "" !important;
}

.orb-uniE684::before {
    content: "" !important;
}

.orb-uniE685::before {
    content: "" !important;
}

.orb-uniE686::before {
    content: "" !important;
}

.orb-uniE687::before {
    content: "" !important;
}

.orb-uniE688::before {
    content: "" !important;
}

.orb-uniE689::before {
    content: "" !important;
}

.orb-uniE68A::before {
    content: "" !important;
}

.orb-uniE68B::before {
    content: "" !important;
}

.orb-uniE68C::before {
    content: "" !important;
}

.orb-uniE68D::before {
    content: "" !important;
}

.orb-uniE68E::before {
    content: "" !important;
}

.orb-uniE68F::before {
    content: "" !important;
}

.orb-uniE690::before {
    content: "" !important;
}

.orb-uniE691::before {
    content: "" !important;
}

.orb-uniE692::before {
    content: "" !important;
}

.orb-uniE693::before {
    content: "" !important;
}

.orb-uniE694::before {
    content: "" !important;
}

.orb-uniE695::before {
    content: "" !important;
}

.orb-uniE696::before {
    content: "" !important;
}

.orb-uniE697::before {
    content: "" !important;
}

.orb-uniE698::before {
    content: "" !important;
}

.orb-uniE699::before {
    content: "" !important;
}

.orb-uniE69A::before {
    content: "" !important;
}

.orb-uniE69B::before {
    content: "" !important;
}

.orb-uniE69C::before {
    content: "" !important;
}

.orb-uniE69D::before {
    content: "" !important;
}

.orb-uniE69E::before {
    content: "" !important;
}

.orb-uniE69F::before {
    content: "" !important;
}

.orb-uniE6A0::before {
    content: "" !important;
}

.orb-uniE6A1::before {
    content: "" !important;
}

.orb-uniE6A2::before {
    content: "" !important;
}

.orb-uniE6A3::before {
    content: "" !important;
}

.orb-uniE6A4::before {
    content: "" !important;
}

.orb-uniE6A5::before {
    content: "" !important;
}

.orb-uniE6A6::before {
    content: "" !important;
}

.orb-uniE6A7::before {
    content: "" !important;
}

.orb-uniE6A8::before {
    content: "" !important;
}

.orb-uniE6A9::before {
    content: "" !important;
}

.orb-uniE6AA::before {
    content: "" !important;
}

.orb-uniE6AB::before {
    content: "" !important;
}

.orb-uniE6AC::before {
    content: "" !important;
}

.orb-uniE6AD::before {
    content: "" !important;
}

.orb-uniE6AE::before {
    content: "" !important;
}

.orb-uniE6AF::before {
    content: "" !important;
}

.orb-uniE6B0::before {
    content: "" !important;
}

.orb-uniE6B1::before {
    content: "" !important;
}

.orb-uniE6B2::before {
    content: "" !important;
}

.orb-uniE6B3::before {
    content: "" !important;
}

.orb-uniE6B4::before {
    content: "" !important;
}

.orb-uniE6B5::before {
    content: "" !important;
}

.orb-uniE6B6::before {
    content: "" !important;
}

.orb-uniE6B7::before {
    content: "" !important;
}

.orb-uniE6B8::before {
    content: "" !important;
}

.orb-uniE6B9::before {
    content: "" !important;
}

.orb-uniE6BA::before {
    content: "" !important;
}

.orb-uniE6BB::before {
    content: "" !important;
}

.orb-uniE6BC::before {
    content: "" !important;
}

.orb-uniE6BD::before {
    content: "" !important;
}

.orb-uniE6BE::before {
    content: "" !important;
}

.orb-uniE6BF::before {
    content: "" !important;
}

.orb-uniE6C0::before {
    content: "" !important;
}

.orb-uniE6C1::before {
    content: "" !important;
}

.orb-uniE6C2::before {
    content: "" !important;
}

.orb-uniE6C3::before {
    content: "" !important;
}

.orb-uniE6C4::before {
    content: "" !important;
}

.orb-uniE6C5::before {
    content: "" !important;
}

.orb-uniE6C6::before {
    content: "" !important;
}

.orb-uniE6C7::before {
    content: "" !important;
}

.orb-uniE6C8::before {
    content: "" !important;
}

.orb-uniE6C9::before {
    content: "" !important;
}

.orb-uniE6CA::before {
    content: "" !important;
}

.orb-uniE6CB::before {
    content: "" !important;
}

.orb-uniE6CC::before {
    content: "" !important;
}

.orb-uniE6CD::before {
    content: "" !important;
}

.orb-uniE6CE::before {
    content: "" !important;
}

.orb-users::before {
    content: "" !important;
}

.orb-reports::before {
    content: "" !important;
}

.orb-menu-hierarchy::before {
    content: "" !important;
}

.orb-refresh::before {
    content: "" !important;
}

.orb-hashtag::before {
    content: "" !important;
}

.orb-text::before {
    content: "" !important;
}

.orb-number::before {
    content: "" !important;
}

.orb-ellipsis-v::before {
    content: "" !important;
}

.orb-cubes::before {
    content: "" !important;
}

.orb-code::before {
    content: "" !important;
}

.orb-history::before {
    content: "" !important;
}

.orb-roles::before {
    content: "" !important;
}

.orb-treeview::before {
    content: "" !important;
}

.orb-Octicons-key::before {
    content: "" !important;
}

.orb-calendar::before {
    content: "" !important;
}

.orb-Permissions::before {
    content: "" !important;
}

.orb-link::before {
    content: "" !important;
}

.orb-object-group::before {
    content: "" !important;
}

.orb-share-alt::before {
    content: "" !important;
}

.orb-sort-alpha-asc::before {
    content: "" !important;
}

.orb-sort-alpha-desc::before {
    content: "" !important;
}

.orb-sort-amount-asc::before {
    content: "" !important;
}

.orb-sort-amount-desc::before {
    content: "" !important;
}

.orb-folder-o::before {
    content: "" !important;
}

.orb-folder-open-o::before {
    content: "" !important;
}

.orb-folder-open::before {
    content: "" !important;
}

.orb-folder::before {
    content: "" !important;
}

.orb-user-remove::before {
    content: "" !important;
}

.orb-user-plus::before {
    content: "" !important;
}

.orb-search::before {
    content: "" !important;
}

.orb-question::before {
    content: "" !important;
}

.orb-print::before {
    content: "" !important;
}

.orb-lock::before {
    content: "" !important;
}

.orb-language::before {
    content: "" !important;
}

.orb-fax::before {
    content: "" !important;
}

.orb-envelope::before {
    content: "" !important;
}

.orb-close::before {
    content: "" !important;
}

.orb-chevron-up::before {
    content: "" !important;
}

.orb-chevron-right::before {
    content: "" !important;
}

.orb-chevron-left::before {
    content: "" !important;
}

.orb-chevron-down::before {
    content: "" !important;
}

.orb-check-square-o::before {
    content: "" !important;
}

.orb-check::before {
    content: "" !important;
}

.orb-caret-up::before {
    content: "" !important;
}

.orb-caret-square-o-up::before {
    content: "" !important;
}

.orb-caret-square-o-right::before {
    content: "" !important;
}

.orb-caret-square-o-left::before {
    content: "" !important;
}

.orb-caret-square-o-down::before {
    content: "" !important;
}

.orb-caret-right::before {
    content: "" !important;
}

.orb-caret-left::before {
    content: "" !important;
}

.orb-caret-down::before {
    content: "" !important;
}

.orb-bell::before {
    content: "" !important;
}

.orb-arrow-up::before {
    content: "" !important;
}

.orb-arrow-right::before {
    content: "" !important;
}

.orb-arrow-left::before {
    content: "" !important;
}

.orb-arrow-down::before {
    content: "" !important;
}

.orb-align-right::before {
    content: "" !important;
}

.orb-align-left::before {
    content: "" !important;
}

.orb-align-justify::before {
    content: "" !important;
}

.orb-icon-line-step::before {
    content: "" !important;
}

.orb-icomoon-45::before {
    content: "" !important;
}

.orb-icon-pivot-grid::before {
    content: "" !important;
}

.orb-icon-column-stacked::before {
    content: "" !important;
}

.orb-icon-guage-chart::before {
    content: "" !important;
}

.orb-icon-line-basic::before {
    content: "" !important;
}

.orb-icon-line-spline::before {
    content: "" !important;
}

.orb-icon-pie-basic::before {
    content: "" !important;
}

.orb-icon-pie-donut::before {
    content: "" !important;
}

.orb-icon-scatter-basic::before {
    content: "" !important;
}

.orb-icon-scatter-bubble::before {
    content: "" !important;
}

.orb-icon-radar-line::before {
    content: "" !important;
}

.orb-icon-radar-area::before {
    content: "" !important;
}

.orb-icomoon-32::before {
    content: "" !important;
}

.orb-icomoon-31::before {
    content: "" !important;
}

.orb-icon-column-basic::before {
    content: "" !important;
}

.orb-icon-area-basic::before {
    content: "" !important;
}

.orb-icon-area-stacked-100::before {
    content: "" !important;
}

.orb-icon-area-stacked::before {
    content: "" !important;
}

.orb-icon-bar-basic::before {
    content: "" !important;
}

.orb-icon-bar-stacked-100::before {
    content: "" !important;
}

.orb-icon-bar-stacked::before {
    content: "" !important;
}

.orb-icon-column-stacked-100::before {
    content: "" !important;
}

.orb-icon-column-multi-axis::before {
    content: "" !important;
}

.orb-icon-grid::before {
    content: "" !important;
}

.orb-icon-map::before {
    content: "" !important;
}

.orb-icon-sun-burst::before {
    content: "" !important;
}

.orb-list-ol::before {
    content: "" !important;
}

.orb-list-ul::before {
    content: "" !important;
}

.orb-list::before {
    content: "" !important;
}

.orb-code-fork::before {
    content: "" !important;
}

.orb-codepen::before {
    content: "" !important;
}

.orb-connectdevelop::before {
    content: "" !important;
}

.orb-preferences::before {
    content: "" !important;
}

.orb-columns::before {
    content: "" !important;
}

.orb-desktop::before {
    content: "" !important;
}

.orb-file-text-o::before {
    content: "" !important;
}

.orb-file::before {
    content: "" !important;
}

.orb-files-o::before {
    content: "" !important;
}

.orb-list-alt::before {
    content: "" !important;
}

.orb-sync::before {
    content: "" !important;
}

.orb-upload::before {
    content: "" !important;
}

.orb-download::before {
    content: "" !important;
}

.orb-filter::before {
    content: "" !important;
}

.orb-clone::before {
    content: "" !important;
}

.orb-wrench::before {
    content: "" !important;
}

.orb-book::before {
    content: "" !important;
}

.orb-bookmark-o::before {
    content: "" !important;
}

.orb-bookmark::before {
    content: "" !important;
}

.orb-briefcase::before {
    content: "" !important;
}

.orb-expand::before {
    content: "" !important;
}

.orb-search-minus::before {
    content: "" !important;
}

.orb-search-plus::before {
    content: "" !important;
}

.orb-table::before {
    content: "" !important;
}

.orb-slack::before {
    content: "" !important;
}

.orb-server::before {
    content: "" !important;
}

.orb-tasks::before {
    content: "" !important;
}

.orb-database::before {
    content: "" !important;
}

.orb-chevron-circle-down::before {
    content: "" !important;
}

.orb-chevron-circle-left::before {
    content: "" !important;
}

.orb-chevron-circle-right::before {
    content: "" !important;
}

.orb-chevron-circle-up::before {
    content: "" !important;
}

.orb-circle-o::before {
    content: "" !important;
}

.orb-circle-thin::before {
    content: "" !important;
}

.orb-circle::before {
    content: "" !important;
}

.orb-unlock::before {
    content: "" !important;
}

.orb-unlock-alt::before {
    content: "" !important;
}

.orb-arrow-circle-down::before {
    content: "" !important;
}

.orb-arrow-circle-left::before {
    content: "" !important;
}

.orb-arrow-circle-o-down::before {
    content: "" !important;
}

.orb-arrow-circle-o-left::before {
    content: "" !important;
}

.orb-arrow-circle-o-right::before {
    content: "" !important;
}

.orb-arrow-circle-o-up::before {
    content: "" !important;
}

.orb-arrow-circle-right::before {
    content: "" !important;
}

.orb-arrow-circle-up::before {
    content: "" !important;
}

.orb-arrow-down2::before {
    content: "" !important;
}

.orb-arrow-left2::before {
    content: "" !important;
}

.orb-arrow-right2::before {
    content: "" !important;
}

.orb-arrow-up2::before {
    content: "" !important;
}

.orb-arrows-alt::before {
    content: "" !important;
}

.orb-arrows-h::before {
    content: "" !important;
}

.orb-arrows-v::before {
    content: "" !important;
}

.orb-arrows::before {
    content: "" !important;
}

.orb-plus-square-o::before {
    content: "" !important;
}

.orb-plus-square::before {
    content: "" !important;
}

.orb-pencil::before {
    content: "" !important;
}

.orb-widget-settings::before {
    content: "" !important;
}

.orb-new::before {
    content: "" !important;
}

.orb-data-sources::before {
    content: "" !important;
}

.orb-delete::before {
    content: "" !important;
}

.orb-query-settings::before {
    content: "" !important;
}

.orb-settings::before {
    content: "" !important;
}

.orb-home::before {
    content: "" !important;
}

.orb-timestamp::before {
    content: "" !important;
}

.orb-user-group::before {
    content: "" !important;
}

.orb-save::before {
    content: "" !important;
}

.orb-menu-permissions::before {
    content: "" !important;
}

.orb-folder-view::before {
    content: "" !important;
}

.orb-icon-card::before {
    content: "" !important;
}

.orb-date::before {
    content: "" !important;
}

.orb-ftp::before {
    content: "" !important;
}

.orb-edit::before {
    content: "" !important;
}

.orb-operational-report::before {
    content: "" !important;
}

.orb-rename::before {
    content: "" !important;
}

.orb-locales-configuration::before {
    content: "" !important;
}

.orb-fileupload::before {
    content: "" !important;
}

.orb-icon-comb-chart::before {
    content: "" !important;
}

.orb-auto-layout::before {
    content: "" !important;
}

.orb-widget-view::before {
    content: "" !important;
}

.orb-relationship::before {
    content: "" !important;
}

.orb-save-as::before {
    content: "" !important;
}

.orb-sev::before {
    content: "" !important;
}

.orb-resume::before {
    content: "" !important;
}

.orb-angle-down::before {
    content: "" !important;
}

.orb-angle-left::before {
    content: "" !important;
}

.orb-angle-right::before {
    content: "" !important;
}

.orb-angle-up::before {
    content: "" !important;
}

.orb-paint-brush::before {
    content: "" !important;
}

.orb-skins::before {
    content: "" !important;
}

.orb-color::before {
    content: "" !important;
}

.orb-clear-filter::before {
    content: "" !important;
}

.orb-uniE9B4::before {
    content: "" !important;
}

.orb-uniE9B5::before {
    content: "" !important;
}

.orb-uniE9B6::before {
    content: "" !important;
}

.orb-clear-filter2::before {
    content: "" !important;
}

.orb-filters2::before {
    content: "" !important;
}

.orb-filters::before {
    content: "" !important;
}

.orb-line-log::before {
    content: "" !important;
}

.orb-line-pdf::before {
    content: "" !important;
}

.orb-line-table::before {
    content: "" !important;
}

.orb-line-rename::before {
    content: "" !important;
}

.orb-line-plus::before {
    content: "" !important;
}

.orb-line-excel::before {
    content: "" !important;
}

.orb-line-warning::before {
    content: "" !important;
}

.orb-line-code::before {
    content: "" !important;
}

.orb-line-security::before {
    content: "" !important;
}

.orb-line-permission::before {
    content: "" !important;
}

.orb-line-pause::before {
    content: "" !important;
}

.orb-line-ban::before {
    content: "" !important;
}

.orb-line-play::before {
    content: "" !important;
}

.orb-templates::before {
    content: "" !important;
}

.orb-auto-column-size::before {
    content: "" !important;
}

.orb-result::before {
    content: "" !important;
}

.orb-open::before {
    content: "" !important;
}

.orb-pause::before {
    content: "" !important;
}

.orb-SQL::before {
    content: "" !important;
}

.orb-purge::before {
    content: "" !important;
}

.orb-purge2::before {
    content: "" !important;
}

.orb-SQL2::before {
    content: "" !important;
}

.orb-csv::before {
    content: "" !important;
}

.orb-xml::before {
    content: "" !important;
}

.orb-icon-area-spline::before {
    content: "" !important;
}

.orb-HTML::before {
    content: "" !important;
}

.orb-crv::before {
    content: "" !important;
}

.orb-icon-tree-map::before {
    content: "" !important;
}

.orb-icon-heat-map::before {
    content: "" !important;
}

.orb-icon-column-negative::before {
    content: "" !important;
}

.orb-role::before {
    content: "" !important;
}

.orb-authority-2::before {
    content: "" !important;
}

.orb-authority::before {
    content: "" !important;
}

.orb-user-management::before {
    content: "" !important;
}

.orb-formula::before {
    content: "" !important;
}

.orb-role3::before {
    content: "" !important;
}

.orb-promt-filter::before {
    content: "" !important;
}

.orb-process::before {
    content: "" !important;
}

.orb-process-3::before {
    content: "" !important;
}

.orb-process-2::before {
    content: "" !important;
}

.orb-report-statistics::before {
    content: "" !important;
}

.orb-icon-pie-multi-level::before {
    content: "" !important;
}

.orb-exec-edge::before {
    content: "" !important;
}

.orb-export-solid::before {
    content: "" !important;
}

.orb-token::before {
    content: "" !important;
}

.orb-export-2::before {
    content: "" !important;
}

.orb-private-link::before {
    content: "" !important;
}

.orb-publish-report::before {
    content: "" !important;
}

.orb-manage-items::before {
    content: "" !important;
}

.orb-manage-items-2::before {
    content: "" !important;
}

.orb-icon-google-map::before {
    content: "" !important;
}

.orb-public-link::before {
    content: "" !important;
}

.orb-publish-report-2::before {
    content: "" !important;
}

.orb-formula-border::before {
    content: "" !important;
}

.orb-sigma::before {
    content: "" !important;
}

.orb-Minimize::before {
    content: "" !important;
}

.orb-Maximize::before {
    content: "" !important;
}

.orb-script::before {
    content: "" !important;
}

.orb-group::before {
    content: "" !important;
}

.orb-widgets::before {
    content: "" !important;
}

.orb-new-report::before {
    content: "" !important;
}

.orb-zip::before {
    content: "" !important;
}

.orb-new-report2::before {
    content: "" !important;
}

.orb-zipped-folder::before {
    content: "" !important;
}

.orb-new-report3::before {
    content: "" !important;
}

.orb-dashboard2::before {
    content: "" !important;
}

.orb-sort-down::before {
    content: "" !important;
}

.orb-sort-up::before {
    content: "" !important;
}